.footer {
  padding: 10px 20px;
  background: rgba(30, 144, 255, 0.8);
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
