.nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  padding: 5px 10px;
  background: var(--background);
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background: var(--text);
  color: var(--background);
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
